/* background */

html {
    font-size: 150%;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: overlap;
    background-color: rgb(193, 195, 195);
    background-image: url(./rss/hang-758x355.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;

    
}

.calculator {
    display: none;
    box-shadow: 0 0 25px 0 black;
    border-radius: .5rem;
    overflow: hidden;
    background-color: grey;
    /* border: 2px solid red; */
    /* grid-area: "overlap";
    justify-self: center; */
}

.cdisplay {
    background-color: rgb(44, 42, 42);
    color: rgb(215, 213, 213);
    width: 16.25rem;
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: calc(1rem * 1.2 * 1.2 );
    /* border: 2px solid rgb(39, 2, 173); */
}

.ckeys {
    display:grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
    ". . . ."
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal";
}

.ckeys > button {
    border: 0;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.decimal{
    grid-area: decimal;
}
.clear {
    grid-area: clear;
}
[data-key="equal"] {
    grid-area: equal;
    background-color: rgb(219, 74, 7);
}

.equal:active {
    background-color: rgb(237, 233, 232);
}

[data-type = "op"]{
    background-color: rgb(143, 142, 142);
}

[data-type = "op"]:active,
[data-type = 'number']:active,
[data-type = 'clear']:active {
    background-color: rgb(217, 219, 218);
}

[data-type = 'number'],
[data-type = 'clear'] {
    background-color: rgb(165, 165, 167);
}

[data-state = 'selected'] {
    background: grey;
}
 
/* The first modal and start button */
.modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   }

   .pstart {
    display: fixed;
    height: 100vh;
    width: 100vw;
   }

   .startingp {
    position: fixed;
    top: 0;
    background-color: aqua; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-area: "overlap";
    z-index: -1;
   } 
    
   /* The second modal and first video */
   /* .modal1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   }

   .pstart {
    display: fixed;
    height: 100vh;
    width: 100vw;
   }

   .video1 {
    position: fixed;
    top: 0;
    background-color: aqua; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-area: "overlap";
    z-index: -1;
   } 

   /* The third modal and second video */
   /* .video2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   }

   .modal2 {
    display: fixed;
    height: 100vh;
    width: 100vw;
   }

   .video2 {
    position: fixed;
    top: 0;
    background-color: aqua; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-area: "overlap";
    z-index: -1;
   }   */